# Types

There are four cells below. In each cell, give an example of the Python datatypes discussed in class.

In [1]:
type(1)

int

In [2]:
type("Hi!")

str

In [3]:
type(True)

bool

In [4]:
type([1, 4, 2, 99])

list

In [5]:
type(1.1)

float

# Variables

In the following cell, assign two variables, then perform some operation on both. (For example, you could add them together.)

In [6]:
my_variable = "Good"

In [7]:
my_variable2 = "Morning"

In [8]:
my_variable + my_variable2

'GoodMorning'

Let's add a space using f strings...

In [9]:
print(f"{my_variable} {my_variable2}")

Good Morning

# Comparison

In the following cell, compare two variables so that the output is True. (You can use >, <, == or any other comparison.)

In [10]:
4 == 4

True

In the following cell, perform a comparison for which the output is False.

In [12]:
4 > 9

False

# Conditionals

In the cell below, write an "if" statement that ends in an "else" statement.

# Loops

In the cell below, a list is defined with five numbers. In the cell after the list, write a for loop that adds 10 to each number and prints the output.

Don't forget to run the cell with the list in it, or it won't get loaded into the computer's memory.

In [15]:
numbers = [50, 7, 15, 30, 33]

In [16]:
for number in numbers:
    if number >= 30:
        print(f"The value is: {number}")
    elif number == 7:
        print("The number is seven...")
    else:
        print("The number was less than 30 and not 7")

The value is: 50
The number is seven...
The number was less than 30 and not 7
The value is: 30
The value is: 33

In [17]:
names = ['Mary', 'John', "clark", 'Margaret']
names

['Mary', 'John', 'clark', 'Margaret']

In [18]:
for name in names:
    print(f"The student names are: {name}")

The student names are: Mary
The student names are: John
The student names are: clark
The student names are: Margaret

In [19]:
for name in names:
    print("The student names are:", name)

The student names are: Mary
The student names are: John
The student names are: clark
The student names are: Margaret