In [ ]:
# Assignment #2: Data Exploration

In this assignment, you will demonstrate your knowledge of the Python and Pandas skills we've learned so far. These include:

- Getting an overview of your data
- Extracting columns
- Removing duplicates from your data
- Creating a subset of your data by matching a string
- Getting a random sample of your data
- Sorting your data 
- Getting fundamental statistical information of a series, such as the mean and median

You will not need to formulate or answer a research question for this assignment. You simply need to demonstrate your ability to perform specific operations on the data set you have selected. In the next assignment, your midterm, you will create a narrative exploration of the data using many of the same methods, but in such a way as to use narrative along with data analysis to answer a research question.

You may use the data set you imported in assignment #1, or you may choose another data set. That means that you can reuse code you wrote in Assignment #1 to import the data.

In the below notebook, I will ask for you to perform a task. Each task will be followed by one or more blank code cells. Use as many cells as you need to complete the task. If you know some other way to complete the task with Python and/or Pandas that is not the way we learned in class, that is also acceptable. Feel free to use Google searches to refresh your memory as to how to perform each task. You will also likely wish to consult the class notebooks, which can be found in [our class repository on GitHub](https://github.com/sha256rma/foundations-of-data-science).

If your data set does not have a needed form of data for a task, write code that would perform the task if a column with that data existed, and provide an explanation as a comment or markdown cell.

You may receive partial credit for some incomplete or incorrect answers. Please feel free to add comments about your thought process, which will make it more likely that you will receive partial credit.

The last cell is a bonus. You will not be penalized for not attempting or completing it.

-----

Import Pandas and read your data in as a data frame. Assign the data frame to a variable, such as `df`.

In [55]:
import pandas as pd

In [56]:
df= pd.read_csv('C:\\Users\\smand\\Downloads\\ccnyport\\harry-potter-screen-time-QueryResult.csv')

Make the data frame visible by placing the data frame variable in a cell by itself.

In [58]:
print(df)

   position      const     created    modified  \
0         1  tt0241527  2017-12-24  2017-12-24
1         2  tt0295297  2017-12-24  2017-12-24
2         3  tt0304141  2017-12-24  2017-12-26
3         4  tt0330373  2017-12-24  2018-05-03
4         5  tt0373889  2017-12-24  2017-12-26
5         6  tt0417741  2017-12-24  2017-12-26
6         7  tt0926084  2017-12-24  2017-12-26
7         8  tt1201607  2017-12-24  2019-12-03

                                         description  \
0  Harry Potter <72:45>\nRon Weasley <28:15>\nHer...
1  Harry Potter <83:45>\nRon Weasley <38:15>\nHer...
2  Harry Potter <74:30>\nHermione Granger <34:45>...
3  Harry Potter <63:15>\nRon Weasley <20:30>\nHer...
4  Harry Potter <61:45>\nHermione Granger <23>\nR...
5  Harry Potter <67>\nProfessor Albus Dumbledore ...
6  Harry Potter <68:15>\nHermione Granger <46>\nR...
7  Harry Potter <48>\nHermione Granger <26>\nRon ...

                                          title  \
0         Harry Potter and the Sorcerer's Stone
1       Harry Potter and the Chamber of Secrets
2      Harry Potter and the Prisoner of Azkaban
3           Harry Potter and the Goblet of Fire
4     Harry Potter and the Order of the Phoenix
5        Harry Potter and the Half-Blood Prince
6  Harry Potter and the Deathly Hallows: Part 1
7  Harry Potter and the Deathly Hallows: Part 2

                                     url title_type  imdb_rating  \
0  https://www.imdb.com/title/tt0241527/      movie          7.6
1  https://www.imdb.com/title/tt0295297/      movie          7.4
2  https://www.imdb.com/title/tt0304141/      movie          7.9
3  https://www.imdb.com/title/tt0330373/      movie          7.7
4  https://www.imdb.com/title/tt0373889/      movie          7.5
5  https://www.imdb.com/title/tt0417741/      movie          7.6
6  https://www.imdb.com/title/tt0926084/      movie          7.7
7  https://www.imdb.com/title/tt1201607/      movie          8.1

   runtime_mins  year                                       genres  num_votes  \
0           152  2001                   Adventure, Family, Fantasy     650096
1           161  2002          Adventure, Family, Fantasy, Mystery     550312
2           142  2004          Adventure, Family, Fantasy, Mystery     547889
3           157  2005          Adventure, Family, Fantasy, Mystery     544246
4           138  2007  Action, Adventure, Family, Fantasy, Mystery     507042
5           153  2009  Action, Adventure, Family, Fantasy, Mystery     470620
6           146  2010          Adventure, Family, Fantasy, Mystery     475018
7           130  2011           Adventure, Drama, Fantasy, Mystery     758851

  release_date       directors
0   2001-11-04  Chris Columbus
1   2002-11-03  Chris Columbus
2   2004-05-23  Alfonso Cuarón
3   2005-11-06     Mike Newell
4   2007-06-28     David Yates
5   2009-07-06     David Yates
6   2010-11-11     David Yates
7   2011-07-07     David Yates

What columns are in your data frame? Use a function or method that shows all the columns.

In [60]:
df.columns

Index(['position', 'const', 'created', 'modified', 'description', 'title',
       'url', 'title_type', 'imdb_rating', 'runtime_mins', 'year', 'genres',
       'num_votes', 'release_date', 'directors'],
      dtype='object')

Write Python code to output the number of rows in your data frame.

In [65]:
num_rows = df.shape [0]
print(num_rows)

8

Write code to output a column from your data frame as a series. (Extract a column.)

In [63]:
column_series = df['title']
print(column_series)

0           Harry Potter and the Sorcerer's Stone
1         Harry Potter and the Chamber of Secrets
2        Harry Potter and the Prisoner of Azkaban
3             Harry Potter and the Goblet of Fire
4       Harry Potter and the Order of the Phoenix
5          Harry Potter and the Half-Blood Prince
6    Harry Potter and the Deathly Hallows: Part 1
7    Harry Potter and the Deathly Hallows: Part 2
Name: title, dtype: object

In [67]:
column_series = df['directors']
print(column_series)

0    Chris Columbus
1    Chris Columbus
2    Alfonso Cuarón
3       Mike Newell
4       David Yates
5       David Yates
6       David Yates
7       David Yates
Name: directors, dtype: object

### Read the example below to **count** duplicates based on specific columns (e.g., 'Name' and 'Age')

Check duplicates based on 'Name' and 'Age' columns (modify the subset for your own columns):

`duplicates_subset = df.duplicated(subset=['Name', 'Age'])`

Count the number of duplicates in the subset:

`num_duplicates_subset = duplicates_subset.sum()`

Display no. of duplicate rows based on your column(s):

`print(f"\nNumber of duplicate rows based on 'Name' and 'Age': {num_duplicates_subset}")`

After reading the above, modify the code snippets to check for duplicate columns in your own data frame

In [85]:
duplicates_subset = df.duplicated(subset = ['title', 'directors'])

In [87]:
num_duplicates_subset = duplicates_subset.sum()

In [89]:
print(f"\nNumber of duplicate rows based on 'title' and 'directors': {num_duplicates_subset}")

Number of duplicate rows based on 'title' and 'directors': 0

If any duplicates exist within a column, remove them with the `.drop_duplicates()` function

Write Python code to output the number of rows in your data frame.

In [115]:
num_rows = df.shape[0]
print(f"The number of rows in the DataFrame is: {num_rows}")

The number of rows in the DataFrame is: 8

Compare the new value with the first time you outputted the number of rows above. Is it more, less, or the same? It is the same

Create a subset of the data that matches a specific string in a column. That is, extract all rows of the original data frame that contain a specific string in one of the columns. Save the resulting data frame to a variable. (Add more cells if needed)

In [135]:
subset_df =df[
df['title'].str.contains('Harry Potter', case=True, na=True)
]

In [137]:
print(subset_df)

   position      const     created    modified  \
0         1  tt0241527  2017-12-24  2017-12-24
1         2  tt0295297  2017-12-24  2017-12-24
2         3  tt0304141  2017-12-24  2017-12-26
3         4  tt0330373  2017-12-24  2018-05-03
4         5  tt0373889  2017-12-24  2017-12-26
5         6  tt0417741  2017-12-24  2017-12-26
6         7  tt0926084  2017-12-24  2017-12-26
7         8  tt1201607  2017-12-24  2019-12-03

                                         description  \
0  Harry Potter <72:45>\nRon Weasley <28:15>\nHer...
1  Harry Potter <83:45>\nRon Weasley <38:15>\nHer...
2  Harry Potter <74:30>\nHermione Granger <34:45>...
3  Harry Potter <63:15>\nRon Weasley <20:30>\nHer...
4  Harry Potter <61:45>\nHermione Granger <23>\nR...
5  Harry Potter <67>\nProfessor Albus Dumbledore ...
6  Harry Potter <68:15>\nHermione Granger <46>\nR...
7  Harry Potter <48>\nHermione Granger <26>\nRon ...

                                          title  \
0         Harry Potter and the Sorcerer's Stone
1       Harry Potter and the Chamber of Secrets
2      Harry Potter and the Prisoner of Azkaban
3           Harry Potter and the Goblet of Fire
4     Harry Potter and the Order of the Phoenix
5        Harry Potter and the Half-Blood Prince
6  Harry Potter and the Deathly Hallows: Part 1
7  Harry Potter and the Deathly Hallows: Part 2

                                     url title_type  imdb_rating  \
0  https://www.imdb.com/title/tt0241527/      movie          7.6
1  https://www.imdb.com/title/tt0295297/      movie          7.4
2  https://www.imdb.com/title/tt0304141/      movie          7.9
3  https://www.imdb.com/title/tt0330373/      movie          7.7
4  https://www.imdb.com/title/tt0373889/      movie          7.5
5  https://www.imdb.com/title/tt0417741/      movie          7.6
6  https://www.imdb.com/title/tt0926084/      movie          7.7
7  https://www.imdb.com/title/tt1201607/      movie          8.1

   runtime_mins  year                                       genres  num_votes  \
0           152  2001                   Adventure, Family, Fantasy     650096
1           161  2002          Adventure, Family, Fantasy, Mystery     550312
2           142  2004          Adventure, Family, Fantasy, Mystery     547889
3           157  2005          Adventure, Family, Fantasy, Mystery     544246
4           138  2007  Action, Adventure, Family, Fantasy, Mystery     507042
5           153  2009  Action, Adventure, Family, Fantasy, Mystery     470620
6           146  2010          Adventure, Family, Fantasy, Mystery     475018
7           130  2011           Adventure, Drama, Fantasy, Mystery     758851

  release_date       directors
0   2001-11-04  Chris Columbus
1   2002-11-03  Chris Columbus
2   2004-05-23  Alfonso Cuarón
3   2005-11-06     Mike Newell
4   2007-06-28     David Yates
5   2009-07-06     David Yates
6   2010-11-11     David Yates
7   2011-07-07     David Yates

Output the length of the resulting data frame (the subset of your data for which the conditional was true).

In [147]:
num_rows_subset = subset_df.shape[0]
print("The number of rows in the subset DataFrame is:",
      num_rows_subset)

The number of rows in the subset DataFrame is: 8

Output the first ten rows of your data set, the last ten rows of your data set, and a random ten rows of your data set (a sample of your data).

In [149]:
print("First ten rows of the DataFrame:")
print(df.tail(10))

First ten rows of the DataFrame:
   position      const     created    modified  \
0         1  tt0241527  2017-12-24  2017-12-24
1         2  tt0295297  2017-12-24  2017-12-24
2         3  tt0304141  2017-12-24  2017-12-26
3         4  tt0330373  2017-12-24  2018-05-03
4         5  tt0373889  2017-12-24  2017-12-26
5         6  tt0417741  2017-12-24  2017-12-26
6         7  tt0926084  2017-12-24  2017-12-26
7         8  tt1201607  2017-12-24  2019-12-03

                                         description  \
0  Harry Potter <72:45>\nRon Weasley <28:15>\nHer...
1  Harry Potter <83:45>\nRon Weasley <38:15>\nHer...
2  Harry Potter <74:30>\nHermione Granger <34:45>...
3  Harry Potter <63:15>\nRon Weasley <20:30>\nHer...
4  Harry Potter <61:45>\nHermione Granger <23>\nR...
5  Harry Potter <67>\nProfessor Albus Dumbledore ...
6  Harry Potter <68:15>\nHermione Granger <46>\nR...
7  Harry Potter <48>\nHermione Granger <26>\nRon ...

                                          title  \
0         Harry Potter and the Sorcerer's Stone
1       Harry Potter and the Chamber of Secrets
2      Harry Potter and the Prisoner of Azkaban
3           Harry Potter and the Goblet of Fire
4     Harry Potter and the Order of the Phoenix
5        Harry Potter and the Half-Blood Prince
6  Harry Potter and the Deathly Hallows: Part 1
7  Harry Potter and the Deathly Hallows: Part 2

                                     url title_type  imdb_rating  \
0  https://www.imdb.com/title/tt0241527/      movie          7.6
1  https://www.imdb.com/title/tt0295297/      movie          7.4
2  https://www.imdb.com/title/tt0304141/      movie          7.9
3  https://www.imdb.com/title/tt0330373/      movie          7.7
4  https://www.imdb.com/title/tt0373889/      movie          7.5
5  https://www.imdb.com/title/tt0417741/      movie          7.6
6  https://www.imdb.com/title/tt0926084/      movie          7.7
7  https://www.imdb.com/title/tt1201607/      movie          8.1

   runtime_mins  year                                       genres  num_votes  \
0           152  2001                   Adventure, Family, Fantasy     650096
1           161  2002          Adventure, Family, Fantasy, Mystery     550312
2           142  2004          Adventure, Family, Fantasy, Mystery     547889
3           157  2005          Adventure, Family, Fantasy, Mystery     544246
4           138  2007  Action, Adventure, Family, Fantasy, Mystery     507042
5           153  2009  Action, Adventure, Family, Fantasy, Mystery     470620
6           146  2010          Adventure, Family, Fantasy, Mystery     475018
7           130  2011           Adventure, Drama, Fantasy, Mystery     758851

  release_date       directors
0   2001-11-04  Chris Columbus
1   2002-11-03  Chris Columbus
2   2004-05-23  Alfonso Cuarón
3   2005-11-06     Mike Newell
4   2007-06-28     David Yates
5   2009-07-06     David Yates
6   2010-11-11     David Yates
7   2011-07-07     David Yates

In [155]:
print("\nRandom ten rows of the DataFrame:")
print(df.tail(10))

Random ten rows of the DataFrame:
   position      const     created    modified  \
0         1  tt0241527  2017-12-24  2017-12-24
1         2  tt0295297  2017-12-24  2017-12-24
2         3  tt0304141  2017-12-24  2017-12-26
3         4  tt0330373  2017-12-24  2018-05-03
4         5  tt0373889  2017-12-24  2017-12-26
5         6  tt0417741  2017-12-24  2017-12-26
6         7  tt0926084  2017-12-24  2017-12-26
7         8  tt1201607  2017-12-24  2019-12-03

                                         description  \
0  Harry Potter <72:45>\nRon Weasley <28:15>\nHer...
1  Harry Potter <83:45>\nRon Weasley <38:15>\nHer...
2  Harry Potter <74:30>\nHermione Granger <34:45>...
3  Harry Potter <63:15>\nRon Weasley <20:30>\nHer...
4  Harry Potter <61:45>\nHermione Granger <23>\nR...
5  Harry Potter <67>\nProfessor Albus Dumbledore ...
6  Harry Potter <68:15>\nHermione Granger <46>\nR...
7  Harry Potter <48>\nHermione Granger <26>\nRon ...

                                          title  \
0         Harry Potter and the Sorcerer's Stone
1       Harry Potter and the Chamber of Secrets
2      Harry Potter and the Prisoner of Azkaban
3           Harry Potter and the Goblet of Fire
4     Harry Potter and the Order of the Phoenix
5        Harry Potter and the Half-Blood Prince
6  Harry Potter and the Deathly Hallows: Part 1
7  Harry Potter and the Deathly Hallows: Part 2

                                     url title_type  imdb_rating  \
0  https://www.imdb.com/title/tt0241527/      movie          7.6
1  https://www.imdb.com/title/tt0295297/      movie          7.4
2  https://www.imdb.com/title/tt0304141/      movie          7.9
3  https://www.imdb.com/title/tt0330373/      movie          7.7
4  https://www.imdb.com/title/tt0373889/      movie          7.5
5  https://www.imdb.com/title/tt0417741/      movie          7.6
6  https://www.imdb.com/title/tt0926084/      movie          7.7
7  https://www.imdb.com/title/tt1201607/      movie          8.1

   runtime_mins  year                                       genres  num_votes  \
0           152  2001                   Adventure, Family, Fantasy     650096
1           161  2002          Adventure, Family, Fantasy, Mystery     550312
2           142  2004          Adventure, Family, Fantasy, Mystery     547889
3           157  2005          Adventure, Family, Fantasy, Mystery     544246
4           138  2007  Action, Adventure, Family, Fantasy, Mystery     507042
5           153  2009  Action, Adventure, Family, Fantasy, Mystery     470620
6           146  2010          Adventure, Family, Fantasy, Mystery     475018
7           130  2011           Adventure, Drama, Fantasy, Mystery     758851

  release_date       directors
0   2001-11-04  Chris Columbus
1   2002-11-03  Chris Columbus
2   2004-05-23  Alfonso Cuarón
3   2005-11-06     Mike Newell
4   2007-06-28     David Yates
5   2009-07-06     David Yates
6   2010-11-11     David Yates
7   2011-07-07     David Yates

In [165]:
print("\nRandom {num_rows} rows of the DataFrame (as it has fewer than 10 rows):")
print(df.sample(num_rows))

Random {num_rows} rows of the DataFrame (as it has fewer than 10 rows):
   position      const     created    modified  \
0         1  tt0241527  2017-12-24  2017-12-24
2         3  tt0304141  2017-12-24  2017-12-26
6         7  tt0926084  2017-12-24  2017-12-26
5         6  tt0417741  2017-12-24  2017-12-26
7         8  tt1201607  2017-12-24  2019-12-03
1         2  tt0295297  2017-12-24  2017-12-24
4         5  tt0373889  2017-12-24  2017-12-26
3         4  tt0330373  2017-12-24  2018-05-03

                                         description  \
0  Harry Potter <72:45>\nRon Weasley <28:15>\nHer...
2  Harry Potter <74:30>\nHermione Granger <34:45>...
6  Harry Potter <68:15>\nHermione Granger <46>\nR...
5  Harry Potter <67>\nProfessor Albus Dumbledore ...
7  Harry Potter <48>\nHermione Granger <26>\nRon ...
1  Harry Potter <83:45>\nRon Weasley <38:15>\nHer...
4  Harry Potter <61:45>\nHermione Granger <23>\nR...
3  Harry Potter <63:15>\nRon Weasley <20:30>\nHer...

                                          title  \
0         Harry Potter and the Sorcerer's Stone
2      Harry Potter and the Prisoner of Azkaban
6  Harry Potter and the Deathly Hallows: Part 1
5        Harry Potter and the Half-Blood Prince
7  Harry Potter and the Deathly Hallows: Part 2
1       Harry Potter and the Chamber of Secrets
4     Harry Potter and the Order of the Phoenix
3           Harry Potter and the Goblet of Fire

                                     url title_type  imdb_rating  \
0  https://www.imdb.com/title/tt0241527/      movie          7.6
2  https://www.imdb.com/title/tt0304141/      movie          7.9
6  https://www.imdb.com/title/tt0926084/      movie          7.7
5  https://www.imdb.com/title/tt0417741/      movie          7.6
7  https://www.imdb.com/title/tt1201607/      movie          8.1
1  https://www.imdb.com/title/tt0295297/      movie          7.4
4  https://www.imdb.com/title/tt0373889/      movie          7.5
3  https://www.imdb.com/title/tt0330373/      movie          7.7

   runtime_mins  year                                       genres  num_votes  \
0           152  2001                   Adventure, Family, Fantasy     650096
2           142  2004          Adventure, Family, Fantasy, Mystery     547889
6           146  2010          Adventure, Family, Fantasy, Mystery     475018
5           153  2009  Action, Adventure, Family, Fantasy, Mystery     470620
7           130  2011           Adventure, Drama, Fantasy, Mystery     758851
1           161  2002          Adventure, Family, Fantasy, Mystery     550312
4           138  2007  Action, Adventure, Family, Fantasy, Mystery     507042
3           157  2005          Adventure, Family, Fantasy, Mystery     544246

  release_date       directors
0   2001-11-04  Chris Columbus
2   2004-05-23  Alfonso Cuarón
6   2010-11-11     David Yates
5   2009-07-06     David Yates
7   2011-07-07     David Yates
1   2002-11-03  Chris Columbus
4   2007-06-28     David Yates
3   2005-11-06     Mike Newell

## Bonus

You may want to refer to the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Sort your data frame by a particular column and output the result.

Pick a column in your data set with numeric data (integers or floats). Output the mean (average) and median of that column.